/*******************************************************************************
********************************************************************************
**
**     PROJECT: LiMiT1
**        FILE: limit1.css
**         SEE: https://github.com/ulkuehn/LiMiT1
**      AUTHOR: Ulrich Kühn
**
**       USAGE: by web server
**
** DESCRIPTION: basic styles for LiMiT1
**              must be loaded after basic style sheets for bootstrap etc
**              as it changes some of their behavior / appearance
**
********************************************************************************
*******************************************************************************/


/* accommodate for top navbar */
body
{
  padding: 50px 10px 10px 10px;
}

/* change of bootstrap padding to accommodate for fa-2x icons */
.alert
{
  padding: 5px 5px 10px 5px;
}

/* msgIcon and msgText go side by side */
div.msgIcon
{
  float: left;
  width: 30px;
  text-align: right;
}

div.msgText
{
  margin-left: 40px;
}

/* really disable disabled dropdown items, cf. http://blog.craigsworks.com/bootstrap-3-disabled-dropdown-links/ */
.dropdown-menu > .disabled
{
 cursor: not-allowed; 
}
.dropdown-menu > .disabled > a
{
 pointer-events: none;
}

/* div to screen navbar in special tabs, e.g. search */
div.navHider
{
  z-index: 999; 
  position: absolute; 
  top: 0px; 
  width: 100%; 
  height: 60px; 
  background-color: #ffffff; 
  opacity: 0.75;
}

/*
  Datatables Sorting icons on left
  cf. http://stackoverflow.com/questions/28575810/jquery-datatables-left-align-sort-icon
  mit eigenen Ergänzungen
*/

table.dataTable thead > tr > th
{
  padding-left: 30px !important;
  padding-right: initial !important;
}

table.dataTable thead > tr > th.sorting_disabled 
{
  padding-left: 8px !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after 
{
  left: 8px !important;
  right: auto !important;
}

td.numeric
{
  text-align: right;
  padding-right: 20px !important;
}

td.break, pre
{
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

i.topmenu
{
  margin-right: 10px;
}

.emptyPanel
{
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.panel-body > .nestedPanel
{
  margin: 0px 3px 3px 5px;
}

div.panelCollapse
{
  cursor: pointer;
}

img.canvas
{
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid black;
}

.iframer
{
  resize: vertical;
  overflow: hidden;
  height:200px;
}

iframe
{
  border: solid black 1px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.highlight
{
  font-weight: bold;
  color: #ff0000;
  background-color: #ffff00;
}

@keyframes flashing
{
  0% { opacity: 0.0 }
  100% { opacity: 1.0 }
}

.flash
{
  animation-name: flashing;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


.fileUpload
{
  position: relative;
  overflow: hidden;
}

.fileUpload input.upload
{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

div.whohover
{
  display: inline;
}

a.whohover
{
  text-decoration: none !important;
  color: inherit !important;
}

.text-black
{
  color: black;
}


/* adaptions for jquery-syntax, overwriting jquery.syntax.layout.plain.css */

.syntax-container.syntax-theme-base .syntax.plain 
{
  padding-top:initial !important;
  padding-left:initial !important;
  padding-right:initial !important;
}

.syntax-container.syntax-theme-base .syntax.plain pre
{
  font-family: inherit;
  overflow: auto;
}
    
.toolbar
{
  display: none;
}

